/* Mobile View - Default */

:root
{
  --primary-color: red;
  --secondary-color: blue;
  --tertiary-color: red;
}
html {
  scroll-behavior: smooth;
}

body {
  background: red;
  background-image: url(Images);
}

.container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: white;
  padding: 1rem;
}

#logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: none;
  background-image: url(Images/Logospider.png);
  margin: auto;
}

#pageheader .container {
  min-height: auto;
}
#aifooter .container {
  min-height: auto;
  background-color: white;
  text-align: center;
}

#pageheader {
  background-color: none;
  min-height: auto;
  padding: 1rem;
}

#pageheader nav {
  text-align: center;
}

#pageheader nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pageheader nav ul li {
  border: 2px solid silver;
  padding: 1rem;
  background-color: lightblue
  margin:2px;
  border-radius: 10px;
}

#pageheader nav ul li:hover
{
background: none;
}
#media {
  background-color: lightblue;
  /* min-height: 10rem; */
  height:80vh;
  padding: 1rem;
  background-image: url(Images/Spiderman.png);
  background-size: cover;
  /* aspect-ratio: 16 / 9; */
  background-position: center center;

}
#career {
  background-color: none;
  min-height: 10rem;
  padding: 1rem;
}
#pagecontent {
  background-color: blue;
  min-height: 10rem;
  padding: 1rem;
}
#semester1 {
  background-color: none;
  min-height: 10rem;
  padding: 1rem;
}
#worksamples {
  background-color: blue;
  min-height: 10rem;
  padding: 1rem;
}

#worksamples ul
{
  list-style-type:none ;
}
#certificates {
  background-color: blue;
  min-height: 10rem;
  padding: 1rem;
}
#certificates ul
{
  list-style-type: none;
}

#certificates i
{
  color: red
  font-size:1rem;
  padding-right:.7rem;
}


#pagefooter {
  background-color: none;
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  background-color: none;
  text-align: center;
  min-height: auto;
}
#aifotter {
  background-color: blue;
  min-height: auto;
  text-align: center;
}
#subfooter {
  background-color: blue;
  padding: 1rem;
  text-align: center;
}
audio {
  display: block;
  margin: auto;
  background-color: red;
  border: 5px solid red;

  @media screen and (min-width:600px)
  {
    body
    {
      background-color: yellow;
    }
    #logo
    {
      margin: 0;
    }
  }
}
blockquote {
  background: none;
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  font-size: 1.25rem;
}

blockquote + span {
  padding: 1rem;
  width: 30%;
  display: block;
  margin: 0 auto;
  text-align: right;
  font-size: 1.25rem;
}

span {
  background-color: none;
}

/* Tablet View */
@media screen and (min-width: 600px) {
  #pageheader nav ul {
    background-color: none;
    margin-top: 2rem;

  }

  #pageheader nav ul li
  {
    display: inline-block;
  }

  #pagecontent {
    background-color: red;
  }

  career {
    background-color: blue;
  }
}
